@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/georgia/Georgia.ttf") format("ttf");
}
@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/arial/arialmt.ttf") format("ttf");
}
html {
  scroll-behavior: smooth;
  font-size: 10px;
}

::-webkit-scrollbar {
  width: 0;
}

* {
  box-sizing: border-box;
  background-color: #F6F6F6;
  margin: 0;
  padding: 0;
  border-style: none;
  border-width: 0;
}

a {
  text-decoration: none;
}

ul,
li,
a {
  list-style: none;
  background: none;
}

img,
a {
  display: block;
}

.header-container,
main,
footer {
  max-width: 1279px;
  margin: 0 auto;
}
@media (max-width: 1279px) {
  .header-container,
  main,
  footer {
    min-width: 320px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .header-container,
  main,
  footer {
    margin: 0 auto;
  }
}

h3,
h4,
header,
.big-header-conteiner,
.header-logo,
.header-logo-top,
.header-logo-bottom,
.header-nav,
.site-navigator,
.site-navigator-item,
.site-navigator-item a,
.not-only,
.not-only-container1,
.not-only-container2,
.not-only-container2 h2,
.not-only-container2 p,
.not-only-container2 form,
.hero-img,
.hero-img img,
.donation-card img,
.footer-wrap,
.footer-wrapper,
.footer-wrapper > div,
.footer-map-boston,
.footer-map-london,
.footer-major-img,
.footer-img-special {
  background: none;
}

.header-logo-top {
  font-family: Georgia;
  font-style: normal;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.header-logo-bottom {
  font-family: Arial;
  font-style: normal;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.nav-item-active {
  font-family: Arial;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 160%;
  color: #FAFAFA;
}

.nav-item {
  font-family: Arial;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 160%;
  color: #CDCDCD;
}

h2 {
  font-family: Georgia;
  font-style: normal;
  font-size: 4.4rem;
  font-weight: 400;
  line-height: 130%;
  color: #FFFFFF;
}

.not-only-text {
  font-family: Arial;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 160%;
  color: #CDCDCD;
}

.not-only-btn {
  font-family: Georgia;
  font-style: normal;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.about-h3,
.our-friends-h3,
.help-h3,
.donation-h3 {
  font-family: Georgia;
  font-style: normal;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.footer-first-h3,
.footer-second-h3 {
  font-family: Georgia;
  font-style: normal;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.about-text1,
.about-text2 {
  font-family: Arial;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 160%;
  color: #4C4C4C;
}

.our-friends-name,
.help-item-text {
  font-family: Georgia;
  font-style: normal;
  font-size: 2rem;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.our-friends-btn {
  font-family: Georgia;
  font-style: normal;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.donation-bank {
  font-family: Georgia;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation-card input,
.donation-card h4 {
  font-family: Georgia;
  font-style: normal;
  font-size: 2rem;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation-text {
  font-family: Arial;
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: #B2B2B2;
}

.footer-email-name,
.footer-phone-number,
.footer-map-address1,
.footer-map-address2 {
  font-family: Georgia;
  font-style: normal;
  font-size: 2rem;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.header-container {
  padding: 30px 40px 0px 40px;
  background: url(./img/noise_transparent2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211f20;
}
@media (max-width: 1279px) {
  .header-container {
    padding: 30px 30px 0px 30px;
  }
}
.big-header-conteiner {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  flex-direction: column;
  transition: color 0.35s linear;
}

.header-logo-top {
  margin-bottom: 10px;
}

.site-navigator {
  display: flex;
  gap: 35px;
}

.header-nav {
  margin-top: 16px;
}

.nav-item-active {
  border-bottom: 3.5px solid #F1CDB3;
}

.nav-item:active {
  border-bottom: 3.5px solid #F1CDB3;
}

.nav-item:hover {
  color: #FAFAFA;
}

.header-logo:hover .header-logo-top {
  color: #FAFAFA;
}

.header-logo:hover .header-logo-bottom {
  color: #F1CDB3;
}

.not-only-container1 {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .not-only-container1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
}

.not-only-container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 253px;
  margin-bottom: 243px;
  gap: 42px;
}
@media (max-width: 1279px) {
  .not-only-container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 0;
    gap: 42px;
  }
}

.not-only-container2 p {
  display: flex;
  align-items: center;
  max-width: 460px;
}

@media (max-width: 1279px) {
  .our-friends {
    display: flex;
    justify-content: center;
  }
}

.not-only-btn {
  width: 207px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.not-only-btn:hover {
  color: #FFFFFF;
}

.hero-img {
  margin-top: 90px;
}
@media (max-width: 1279px) {
  .hero-img {
    position: relative;
    left: 70px;
  }
}
.hero-img img {
  width: 69.8rem;
  height: 72.8rem;
}
@media (max-width: 1279px) {
  .hero-img img {
    width: 56.9rem;
    height: 60.3rem;
  }
}
@media (max-width: 767px) {
  .hero-img img {
    width: 26rem;
    height: 27.177rem;
  }
}

@media (max-width: 1279px) {
  .header-nav {
    max-width: 768px;
  }
}
@media (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.about {
  padding: 80px 40px 100px 40px;
  background-color: #FFFFFF;
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 175px 0 175px;
}
@media (max-width: 1279px) {
  .about-wrapper {
    flex-direction: column-reverse;
    padding: 0 129px 0 129px;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 120px;
  background-color: #FFFFFF;
}
.about-container > * {
  background-color: #FFFFFF;
}
@media (max-width: 1279px) {
  .about-container {
    margin-left: 0;
    gap: 25px;
  }
}

.about__img {
  background-color: #FFFFFF;
}
.about__img > img {
  background-color: #FFFFFF;
}
@media (max-width: 1279px) {
  .about__img {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
}

.our-friends-wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px 40px 100px 40px;
}

.our-friends-container {
  display: flex;
  justify-content: space-between;
  margin-top: 61px;
}
@media (max-width: 1279px) {
  .our-friends-container {
    margin-top: 59px;
  }
}

.our-frieds-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  text-align: center;
  width: 270px;
  height: 435px;
  cursor: pointer;
  background: #FAFAFA;
}
@media (max-width: 1279px) {
  .our-frieds-card {
    margin-left: 39px;
  }
}

.our-frieds-card-center {
  margin: 0 40px;
}

@media (max-width: 1279px) {
  .our-friends_hidden {
    display: none;
  }
}

.our-friends-name {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 28px 0;
}

.arrow-left,
.arrow-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 192px;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  border: 2px solid #F1CDB3;
  background: #F6F6F6;
  transition: 0.25s;
  cursor: pointer;
  text-align: center;
}

@media (max-width: 1279px) {
  .arrow-left {
    position: relative;
    left: 27px;
    bottom: 2px;
  }
}

@media (max-width: 1279px) {
  .arrow-right {
    position: relative;
    right: 27px;
    bottom: 2px;
  }
}

.arrow-left:hover,
.arrow-right:hover {
  background: #FDDCC4;
}

.our-friends-btn {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  transition: 0.25s;
  padding-top: 3px;
  cursor: pointer;
}

.our-friends-btn:hover {
  background: #FDDCC4;
}

.our-frieds-card:hover .our-friends-btn {
  background: #FDDCC4;
}

.our-friends-a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 261px;
  height: 52px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 57px;
  transition: 0.25s;
  padding-top: 3px;
  background: #F1CDB3;
}

.help {
  background-color: #FFFFFF;
  padding: 80px 40px 100px 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.help-h3 {
  margin-bottom: 58px;
}

.help-wrapper {
  max-width: 102.9rem;
  gap: 5.5rem 12rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FFFFFF;
}
@media (max-width: 1279px) {
  .help-wrapper {
    max-width: 63rem;
    gap: 5.5rem 6rem;
    justify-content: flex-start;
  }
}

.help-item {
  display: grid;
  max-width: max-content;
  grid-template-rows: repeat(2, max-content);
  gap: 3rem;
  background-color: #FFFFFF;
}

.help-item > :first-child {
  justify-self: center;
}

.help-item > :last-child {
  display: inline-block;
  text-align: center;
}
@media (max-width: 1279px) {
  .help-item > :last-child {
    width: 17rem;
  }
}

.help-icon {
  width: 60px;
  height: 60px;
}

.icon-pet-food {
  background: url(./img/main/icon-pet-food.svg);
}

.icon-transportation {
  background: url(./img/main/icon-transportation.svg);
}

.icon-toys {
  background: url(./img/main/icon-toys.svg);
}

.icon-bowls {
  background: url(./img/main/icon-bowls-and-cups.svg);
}

.icon-shampoos {
  background: url(./img/main/icon-shampoos.svg);
}

.icon-vitamins {
  background: url(./img/main/icon-vitamins.svg);
}

.icon-medicines {
  background: url(./img/main/icon-medicines.svg);
}

.icon-collars {
  background: url(./img/main/icon-collars-leashes.svg);
}

.icon-sleeping-areas {
  background: url(./img/main/icon-sleeping-area.svg);
}

.donation {
  padding: 80px 182px 90px 183px;
}

.donation-wrap {
  display: flex;
}
@media (max-width: 1279px) {
  .donation-wrap {
    flex-direction: column-reverse;
  }
}

.donation-img {
  margin: 6px 15px 10px 0;
}

.donation-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.donation-card {
  width: 349px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #F1CDB3;
  border-radius: 9px;
  cursor: pointer;
  transition: 0.25s;
}

.footer {
  padding: 40px 40px 0px 40px;
  background: url(./img/noise_transparent2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211f20;
}

.footer-wrap {
  display: flex;
}
@media (max-width: 1279px) {
  .footer-wrap {
    flex-direction: column;
  }
}

.footer-wrapper {
  max-width: 74rem;
  display: flex;
  gap: 16rem;
  margin-right: auto;
}
.footer-wrapper div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 60px;
}

.footer-a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  transition: color 0.25s;
}

.footer-a:hover h4,
.footer-a:hover .footer-img-special {
  filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(0%) hue-rotate(44deg) brightness(101%) contrast(101%);
  transform: scale(1.1);
}

.hamburger__line, .hamburger::after, .hamburger::before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #F1CDB3;
  border-radius: 5px;
  width: 100%;
  height: 3px;
}

.hamburger {
  display: none;
  position: relative;
  width: 31px;
  height: 25px;
}
@media (max-width: 767px) {
  .hamburger {
    display: inline-block;
    background: none;
  }
}
.hamburger::before {
  top: 0;
  left: 0;
}
.hamburger::after {
  bottom: 0;
  left: 0;
}

.hamburger__line {
  top: calc(50% - 1.5px);
  left: 0;
}

/*# sourceMappingURL=style_index.css.map */
