@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/georgia/Georgia.ttf") format("ttf");
}
@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/arial/arialmt.ttf") format("ttf");
}
html {
  scroll-behavior: smooth;
  font-size: 10px;
}

::-webkit-scrollbar {
  width: 0;
}

* {
  box-sizing: border-box;
  background-color: #F6F6F6;
  margin: 0;
  padding: 0;
  border-style: none;
  border-width: 0;
}

a {
  text-decoration: none;
}

ul,
li,
a,
img {
  list-style: none;
  background: none;
  display: block;
}

.header-container,
main,
footer {
  max-width: 1280px;
  margin: 0 auto;
}

header,
.big-header-conteiner,
.header-logo,
.header-logo-top,
.header-logo-bottom,
.header-nav,
.site-navigator,
.site-navigator-item,
.site-navigator-item a,
.not-only,
.not-only-container1,
.not-only-container2,
.not-only-container2 h2,
.not-only-container2 p,
.not-only-container2 form,
.hero-img,
.hero-img img,
.donation-card img,
.footer-wrap,
.footer-wrap > div,
h3,
h4,
.footer-map-boston,
.footer-map-london,
.footer-major-img,
.footer-wrap > div > a > img {
  background: none;
}

.header-logo-top {
  font-family: Georgia;
  font-style: normal;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.header-logo-bottom {
  font-family: Arial;
  font-style: normal;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: #292929;
}

.nav-item-active {
  font-family: Arial;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 160%;
  color: #292929;
}

.nav-item {
  font-family: Arial;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 160%;
  color: #545454;
}

.our-friends-h3 {
  font-family: Georgia;
  font-style: normal;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.our-friends-name {
  font-family: Georgia;
  font-style: normal;
  font-size: 2rem;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.our-friends-btn {
  font-family: Georgia;
  font-style: normal;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.pagination-active {
  font-family: Georgia;
  font-style: normal;
  font-size: 2rem;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #292929;
}

.pagination-inactive {
  font-family: Georgia;
  font-style: normal;
  font-size: 2rem;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #CDCDCD;
}

.footer-first-h3,
.footer-second-h3 {
  font-family: Georgia;
  font-style: normal;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer-email-name,
.footer-phone-number,
.footer-map-address1,
.footer-map-address2 {
  font-family: Georgia;
  font-style: normal;
  font-size: 2rem;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.header-container {
  padding: 30px 40px;
}

header {
  display: flex;
}

.header-logo {
  display: flex;
  flex-direction: column;
  transition: color 0.35s linear;
  margin-right: auto;
}

.header-logo-top {
  margin-bottom: 10px;
}

.header-logo-bottom {
  margin-left: 4px;
}

.header-nav {
  margin-top: 16px;
  display: flex;
  width: 37%;
}

.site-navigator {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.nav-item-active {
  border-bottom: 3.5px solid #F1CDB3;
}

.nav-item:active {
  border-bottom: 3.5px solid #F1CDB3;
  transition: 0.08s;
}

.nav-item:hover {
  color: #292929;
}

.header-logo:hover .header-logo-top {
  color: #292929;
}

.header-logo:hover .header-logo-bottom {
  color: #545454;
}

@media (max-width: 1279px) {
  .header-nav {
    max-width: 768px;
  }
}
@media (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.footer {
  padding: 40px 40px 0px 40px;
  background: url(./img/noise_transparent2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211f20;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
}

.footer-wrap div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 60px;
}

.footer-a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  transition: color 0.25s;
}

.footer-a:hover h4,
.footer-a:hover .footer-img-special {
  filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(0%) hue-rotate(44deg) brightness(101%) contrast(101%);
  transform: scale(1.1);
}

.pets {
  background-color: #F6F6F6;
  padding: 80px 40px 100px;
}

.pets-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-friends-h3 {
  text-align: center;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px 40px;
  margin-top: 45px;
  margin-bottom: 60px;
}

.our-frieds-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 435px;
  cursor: pointer;
  background-color: #FAFAFA;
  border-radius: 9px;
  padding-top: 15px;
}

.our-frieds-card:hover .our-friends-btn {
  background: #FDDCC4;
}

.our-friends-name {
  margin: 30px 0;
  text-align: center;
}

.our-friends-btn {
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  width: 187px;
  height: 52px;
  background: #FAFAFA;
  transition: 0.25s;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 14px;
}

.pets-pag {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 2px solid #F1CDB3;
  background: #F6F6F6;
  transition: 0.25s;
}

.pagination-active {
  cursor: pointer;
}

.pagination-active:hover {
  background: #FDDCC4;
}

.hamburger__line, .hamburger::after, .hamburger::before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #F1CDB3;
  border-radius: 5px;
  width: 100%;
  height: 3px;
}

.hamburger {
  display: none;
  position: relative;
  width: 31px;
  height: 25px;
}
@media (max-width: 767px) {
  .hamburger {
    display: inline-block;
    background: none;
  }
}
.hamburger::before {
  top: 0;
  left: 0;
}
.hamburger::after {
  bottom: 0;
  left: 0;
}

.hamburger__line {
  top: calc(50% - 1.5px);
  left: 0;
}

/*# sourceMappingURL=style_pets.css.map */
