.header-logo-top {
    font-family: Georgia;
    font-style: normal;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}

.header-logo-bottom {
    font-family: Arial;
    font-style: normal;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    color: #292929;
}


.nav-item-active {
    font-family: Arial;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 160%;
    color: #292929;
  }

.nav-item {
    font-family: Arial;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 160%;
    color: #545454;
  }

.our-friends-h3 {
    font-family: Georgia;
    font-style: normal;
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;  
}

.our-friends-name {
    font-family: Georgia;
    font-style: normal;
    font-size: 2.0rem;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454; 
}

.our-friends-btn {
    font-family: Georgia;
    font-style: normal;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929; 
}

.pagination-active {
    font-family: Georgia;
    font-style: normal;
    font-size: 2.0rem;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929; 
}

.pagination-inactive {
    font-family: Georgia;
    font-style: normal;
    font-size: 2.0rem;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #CDCDCD; 
}

.footer-first-h3,
.footer-second-h3 {
    font-family: Georgia;
    font-style: normal;
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF; 
}

.footer-email-name,
.footer-phone-number,
.footer-map-address1,
.footer-map-address2 {
    font-family: Georgia;
    font-style: normal;
    font-size: 2.0rem;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}