@font-face {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/georgia/Georgia.ttf") format("ttf"), 
  }

  html {
    scroll-behavior: smooth;  
  }
  
  ::-webkit-scrollbar {
    width: 0;
  }
 
* {
    box-sizing: border-box;
    background-color: #F6F6F6;
    margin: 0;
    padding: 0;
}

a {
   text-decoration: none; 
}

ul,
li,
a {
  list-style: none;
  background: none;
}

img {
  max-width: 100%;
  display: block;
}

header,
main,
footer {
  width: 1280px;
  margin: 0 auto;
}

