.footer {
    padding: 30px 40px 0px 40px;
    background: url(./img/noise_transparent2x.png), 
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211f20;  
  }

.footer-wrap {
    display: flex;
    justify-content: space-between;
}

.footer-wrap>div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 60px;
}

.footer-a {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  transition: color .25s;
}

.footer-a:hover h4,
.footer-a:hover .footer-img-special {
    filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(0%) hue-rotate(44deg) brightness(101%) contrast(101%);
    transform: scale(1.1);
}
